<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="./css/header.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js"> </script>
  </head>
  <body>
    <div class="wrapper">
      <div class="slider-container">
        <div class="slider-hero"><a href=""><img class="slider-hero__logo" src="/img/header/logo.svg"></a>
          <div class="slider-hero__text">
            <p>Lenovo IdeaPad 5i</p>
            <p>Intel® Core™ i5 processor,</p>
            <p>256 GB SSD</p>
          </div><a href="">
            <button class="headline cta">Shop now</button></a>
        </div>
        <div class="slider-track">
          <div class="slider-item"><img class="slider-item__img" src="/img/header/laptop_1.png"/></div>
          <div class="slider-item"><img class="slider-item__img" src="/img/header/laptop_2.png"/></div>
          <div class="slider-item"><img class="slider-item__img" src="/img/header/laptop_3.png"/></div>
          <div class="slider-item"><img class="slider-item__img" src="/img/header/laptop_4.png"/></div>
        </div>
        <div class="slider-controller">
          <button class="slider-controller__prev"><img src="/img/header/arrow-u.svg"></button>
          <div class="slider-pointer"></div>
          <button class="slider-controller__next"><img src="/img/header/arrow-d.svg"></button>
        </div>
      </div>
    </div>
    <script src="src/script/slider.js"></script>
    <script src="src/script/anim.js"></script>
  </body>
</html>