@font-face {
    font-family: 'CurrysSans-Headline';
    src: url(../../../fonts/CurrysSans-Headline.otf);
}

@font-face {
    font-family: 'CurrysSans-Regular';
    src: url(../../../fonts/CurrysSans-Regular.otf);
}

@font-face {
    font-family: 'CurrysSans-Light';
    src: url(../../../fonts/CurrysSans-Light.otf);
}