*{
    padding: 0;
    margin: 0;
}

@import 'variables';
@import 'fonts';

.headline{
    font-family: 'CurrysSans-Headline';
}

body{
    font-family: 'CurrysSans-Regular';
}

li, a{
    list-style: none;
    text-decoration: none;
}

button{
    border: none;
    background: none;
    cursor: pointer;
    
    font-family: 'CurrysSans-Regular';
    transition: $ease-default;

    &.cta{
        padding: 10px 50px;
    
        border-radius: 23px;
        border: solid 2px $primary-200;
    
        background: #fff;
        color: $primary-200;

        &:hover{
            color: #fff;
            background: $primary-200;
        }
    }
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

// CONTAINER

.slider-container{
    overflow: hidden;
    position: relative;

    width: 100%;
    height: $slider-height;

    background-image: url(../src/img/bg.png);
    background-color: #cfc8f7;
}

.slider-track{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: $slider-height;
}

.slider-item{
    @include flex-column-center;

    position: relative;

    width: 100%;
    height: $slider-height;

    padding: 20px;
    box-sizing: border-box;

    &__img{
        height: inherit;
    }
    &__desc{
        max-width: 200px;
    }
}

// HERO

.slider-hero{
    @include flex-column-between;

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    padding: 20px;
    box-sizing: border-box;

    &__logo{
        height: 32px;
    }

    &__text{
        font-size: 24px;
        line-height: 120%;
        text-align: center;
    
        color: $primary-200;
    }
}

// POINTER

.slider-controller{
    @include flex-column-between;

    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.slider-pointer{
    @include flex-column-center;

    height: 100%;

    &__item{
        width: $point-size;
        height: $point-size;
        background: $primary-100;
        border-radius: 999px;

        margin: 5px;
    
        transition: $ease-default;

        &.active{
            background: $primary-200;
        }
    }
}