mixin slide-item(path)
  .slider-item: img(src=path).slider-item__img

doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
        
        //- Links
        link(rel="stylesheet", href="./css/header.css")

        //- Scripts
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js") 
    body
        .wrapper
            .slider-container
                .slider-hero
                    a(href=""): img(src="/img/header/logo.svg").slider-hero__logo

                    .slider-hero__text
                        p Lenovo IdeaPad 5i
                        p Intel® Core™ i5 processor,
                        p 256 GB SSD

                    a(href=""): button.headline.cta Shop now

                .slider-track
                    +slide-item('/img/header/laptop_1.png')
                    +slide-item('/img/header/laptop_2.png')
                    +slide-item('/img/header/laptop_3.png')
                    +slide-item('/img/header/laptop_4.png')
                
                .slider-controller
                    button.slider-controller__prev: img(src="/img/header/arrow-u.svg")
                    .slider-pointer
                    button.slider-controller__next: img(src="/img/header/arrow-d.svg")
        
        script(src="src/script/slider.js")
        script(src="src/script/anim.js")